/*----------------------------------------
                THEME CSS
----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Mr+Dafoe&display=swap');

:root {
/* Colors */
    --primary: #026BCD;
    --secondary: #01BFFF;
    --secondaryLight: #7ED8FF;
    --yellow: #F6B019;
    --yellowLight: #ffc64b;
    --body: #25394D;
    --dark: #0C253D;
    --darkBlue: #0F3656;
    --black: #000000;
    --blackO1: rgba(0, 0, 0, 0.1);
    --white: #ffffff;
    --light: #f1f1f1;
    --lightSky: #F8FCFF;
    --lightSky2: #EFF3F6;
    --gray: #858585;
    --twinGraySky:rgba(139, 177, 214, 0.10);
    --twinGray: rgba(139, 177, 214, 0.10);
    --twinSky: rgba(2, 107, 205, 0.10);
    --color-bg-alt:#0b0b0e;

/* Gradient */
    --themeGradient: linear-gradient(95deg, #7051FF 7.69%, #01BFFF 95.72%);

/* Font */
    --mdCursive: 'Mr Dafoe', cursive;
}

html{ 
    scrollbar-width: thin;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-color: var(--primary) rgba(153, 153, 153, 0.1);
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: var(--body);
    font-family: 'Montserrat', sans-serif;
}
a,
button {
    outline: none !important;
    text-decoration: none;
    box-shadow: none;
    color: var(--primary);
    transition: all .3s ease-in-out;
}
a:hover,a:focus,select:focus,button:focus,.btn:focus{
    outline: none;
    text-decoration: none;
    box-shadow: none;
}
* {
    margin: 0;
    padding: 0;
}
img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    width: auto;
}
li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    outline: none !important;
    color: var(--darkBlue);
}
input,select,textarea,button {
    outline: none !important;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}
input,textarea,select {
    /*-moz-appearance: none; -webkit-appearance: none;*/
    box-shadow: none !important;
}

/* Container */
.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}
.container.lg{
    max-width: 1200px;
}
.container.md{
    max-width: 1000px;
}

/* Discribtion ( body text ) */
p{
    font-size: 16px;
    font-weight: 500;
    line-height: 170%;
    color: var(--body);
}

/* TITLE */
h1 {
    font-size: 67px;
    font-weight: 800;
    line-height: 110%;
}
h1 small{
    display: block;
    font-weight: 400;
    font-size: 50%;
}
h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 100%;
}
h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}
h4{
    font-size: 34px;
    font-weight: 600;
}
h5{
    font-size: 30px;
    font-weight: 600;
}
h6{
    font-size: 20px;
    font-weight: 600;
}

/* SECTION TITLE */
.sec-title{
    color: var(--twinGraySky);
    font-size: 110px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}
.sec-sub-title{
    text-transform: uppercase;    
    font-weight: 700;
}
.sec-sub-title small{
    font-size: 16px;
    letter-spacing: 4.8px;
    display: block;
    margin-bottom: 15px;
}
.sec_info{
    margin-bottom: 50px;
}
.center-absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* Font weight */
.fw-bolder {
	font-weight: 800 !important;
}

/* letter spacing */
.ls5{
    letter-spacing: 4.8px;
}

/* Spacing ( Margin ) */
.mb-30{
    margin-bottom: 30px;
}

/* Spacing ( Padding ) */
.pt-200{ 
    padding-top: 200px;
}
.pb-200{ 
    padding-bottom: 200px;
}
.pt-120{
    padding-top: 120px;
} 
.pb-120{
    padding-bottom: 120px;
}
.pt-100{
    padding-top: 100px;
} 
.pb-100{
    padding-bottom: 100px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}

/* Gradient Color */
.themeGradient{
    background: var(--themeGradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BG CLASS ( Backgrounds ) */
.bg_lightSky{
    background: var(--lightSky);
}

/* Text Color */
.primary{ color: var(--primary);}
.secondary{ color: var(--secondary);}
.secondaryLight{ color: var(--secondaryLight);}
.yellow{ color: var(--yellow);}
.yellowLight{ color: var(--yellowLight);}
.body{ color: var(--body);}
.dark{ color: var(--dark);}
.darkBlue{ color: var(--darkBlue);}
.black{ color: var(--black);}
.blackO1{ color: var(--blackO1);}
.white{ color: var(--white);}
.light{ color: var(--light);}
.lightSky{ color: var(--lightSky);}
.lightSky2{ color: var(--lightSky2);}
.twinGraySky{ color: var(--twinGraySky);}
.twinGray{ color: var(--twinGray);}
.twinSky{ color: var(--twinSky);}


/*---------------------------------------
            BUTTONS ( .btn ) 
-----------------------------------------*/
.btns {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    color: var(--dark);
    border-radius: 10vw;
    display: inline-block;
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
}
.btns span{ 
    width: 100%;
    padding: 12px 22px;
    display: inline-flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--dark);
    background: transparent;
    border-radius: 10vw;
}
.btns:before {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--secondaryLight);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(4px,5px);
    border-radius: 10vw;
    z-index: -1;
    transition: all .4s ease-in-out, transform .2s ease-in-out;
}

.btns img {
    transition: all .4s ease-in-out;
}
.btns:hover:before {
    transform: translate(0,0);
}
.btns:hover{
    transform: translateY(-3px);
}

.btns.btn_secondary:before {
    background: var(--yellowLight);
}

.btns.btn_white span{
    border-color: var(--white);
}
.btns.btn_white:before {
    background: var(--secondaryLight);
}

/* More info btn */
.more-info-link{
    margin: 0;
    padding:0 0 5px;
    border-bottom:2px solid var(--twinSky);
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
.more-info-link::after{
    content: "";
    width: 0;
    height: 2px;
    background: var(--primary);
    transition: all .3s ease-in-out;
    position: absolute;
    left: 0;
    bottom: -2px;
}
.more-info-link:hover::after{
    width: 100%;
}

@media (min-width:768px){
    .border-md-bottom { 
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    }
}

/*-----------------------------------------
        BUTTONS CSS END HERE ( .btn ) 
-----------------------------------------*/

.block_item .sec-sub-title{
    margin-bottom: 30px;
}
.block_item p:not(:last-child){
    margin-bottom: 30px;
}

ul.check_list{
    margin: 0;
    padding: 0;
}
ul.check_list.column2{
    columns: 2;
    gap: 30px;
}
ul.check_list li{
    margin: 0 0 20px;
    padding: 0 0 0 40px;
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background: url(../images/list-icn-check.svg) no-repeat left top 5px;
    text-align: left;
}
ul.check_list.sm li{
    text-transform: none;
    margin: 0 0 15px;
    padding: 0 0 0 30px;
    font-size: 16px;
    background-size: 16px;
}

/**/
ul.change_color{ margin: 0 0 0 30px; padding: 0; display: flex; order: 4; position: relative; width: 22px; height: 22px;}
ul.change_color li{ margin: 0; padding: 0; display: inline-block;}
ul.change_color li button{ width: 22px; height: 22px; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; background: none; border-radius: 50%; position: absolute; top: 0; left:0;}
ul.change_color li button img{ filter: brightness(0) invert(0); transition:all .2s ease-in-out;}
ul.change_color li button.active{ background: var(--primary); display: none;}

.lbl-tag{
    background: #ffc64b36;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    font-style: italic;
    color: var(--gray);
    text-align: center;
}